/*--------------------------------------------------------------
Typography
--------------------------------------------------------------*/
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $font-heading;
}
h1 { font-size: 42px; line-height: 40px; }
h2 { font-size: 38px; line-height: 36px; }
h3 { font-size: 30px; line-height: 32px; }
h4 { font-size: 26px; line-height: 28px; }
h5 { font-size: 20px; line-height: 24px; }
h6 { font-size: 16px; line-height: 20px; }
p {
	font-size: 16px;
	color: #242121;
}

/*--------------------------------------------------------------
Elements
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
	color: $black;
	font-weight: 300;
	font-family: $font-body;
	font-size: 15px;
	line-height: 1.8;
}
textarea { height: 200px; }
a {
	color: $black;
	-webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}

a:hover,
a:focus,
a:active {
	color: darken($black,7%);
}

/*--------------------------------------------------------------
Buttons, Inputs, Forms
--------------------------------------------------------------*/
button,
input,
select,
textarea {
	font-size: 100%; /* Corrects font size not being inherited in all browsers */
	margin: 0; /* Addresses margins set differently in IE6/7, F3/4, S5, Chrome */
	vertical-align: baseline; /* Improves appearance and consistency in all browsers */
	line-height: 38px;
    font-size: 1em;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 2px solid;
	border-color: $gray;
	border-radius: 0;
	background: white;
	box-shadow: none;
	color: $gray;
	cursor: pointer;
	-webkit-appearance: button; 
	font-size: 1.2em;
	line-height: 1;
	font-weight: inherit;
	margin: 20px 0;
	padding: 1em;
	text-shadow: none;
	text-transform: uppercase;
	float: right;
	width: 200px;
	
	&:hover, &:focus, &:active {
		border-color: darken($gray,20%);
		color: darken($gray,20%);
	}
	
}

input[type="text"], input[type="email"], input[type="url"], input[type="password"], input[type="number"], input[type="search"], textarea {
	background: white;
	&:focus {
		background: $lightgray;
		border-color: darken($gray,20%);
	}
}
select {width: 100%;}
input[type="checkbox"],
input[type="radio"] {
	padding: 0; 
	margin-right: 10px;
}
input[type="search"] {
	-webkit-appearance: textfield; 
	-webkit-box-sizing: content-box; 
	-moz-box-sizing:    content-box;
	box-sizing:         content-box;
}
input[type="search"]::-webkit-search-decoration { 
	-webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner { 
	border: 0;
	padding: 0;
}
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="number"],
input[type="search"],
textarea {
	width: 100%;
	color: #666;
	border: 1px solid #ccc;
	border-radius: 0;
	
	&:focus {
		color: $black;
	}
}
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"] {
	width: 100%;
	padding: 3px;
}
//contact & donate forms
.contact,
.donate {
	input[type="submit"] {
		width: 100%;
		margin-top: 5px;
	}
	
	p {
		margin: 2px 0;
	}
}

.wpcf7-submit {
	input[type="submit"] {
		width: 100%;
		margin-top: 5px;
	}
}


textarea {
	width: 100%;
	overflow: auto; 
	padding-left: 3px;
	vertical-align: top; 
}

/* buttons */
.button {
	position: relative;
    z-index: 9999999;
    display: inline-block;
    margin: 20px 0;
    width: 220px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    font-size: 1.1em;
    font-weight: normal;
    font-style: normal;
    color: white;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    text-transform: uppercase;
    text-decoration: none;
}
/*primary, blue bg, white text, no border*/
.button.primary,
.button.blue {
	background: $maroon;
	color: white;
	border: none;
	&:hover {
		background: darken($maroon,7%);
		color: darken(white,7%);
		border: none;
		text-decoration: none;
	}
}
/*green, darkgreen bg, white text, no border*/
.button.green {
	background: $smoke;
	color: $maroon;
	border: none;
	&:hover {
		background: darken($smoke,7%);
		color: darken($maroon,7%);
		border: none;
		text-decoration: none;
	}
}
/*lightgreen, lightgreen bg, maroon text, no border*/
.button.lightgreen {
	background: $lightgreen;
	color: $maroon;
	border: none;
	&:hover {
		background: darken($lightgreen,7%);
		color: darken($maroon,7%);
		border: none;
		text-decoration: none;
	}
}
/*transparent, transparent bg, blue text, blue border*/
.button.transparent {
	background: transparent;
	color: $maroon;
	border: 2px solid $maroon;
	&:hover {
		color: darken($maroon,7%);
		border: 2px solid darken($maroon,7%);
		text-decoration: none;
	}
}
/*white, white bg, maroon text, no border*/
.button.white {
	background: white;
	color: $maroon;
	border: none;
	&:hover {
		background: darken($maroon,7%);
		color: darken($maroon,7%);
		text-decoration: none;
	}
}
/*register button sidbar, transparent bg, blue text, border*/
.button.register {
	background: $maroon;
	color: white;
	border: 1px solid $lightgray;
	margin: 0;
	text-decoration: none;
	&:hover {
		background: darken($maroon,7%);
		color: darken($maroon,7%);
		text-decoration: none;
	}
	li {
		color: white;
		margin: 0;
		padding: 0;
		font-size: 0.85em;
		border-bottom: none;
		&:after {
			content: '';
		}
	}
}


.button.full {
	margin: 15px 0;
	
	&:first-of-type {
		margin-top: 0;
	}
}

/*--------------------------------------------------------------
Top-Bar, Header, & Navigation
--------------------------------------------------------------*/
/* top bar nav */
.top-bar {
	position: absolute;
	display: block;
	width: 100%;
	height: 45px;
	top: 0;
	left: 0;
	padding: 0 25px;
	background: $maroon; 
	z-index: 4;
	text-transform: uppercase;
	
	.links {
		width: auto;
		float: right;
		margin-right: 25px;
		
		ul {
			list-style: none;
		
			li, li a, li a:visited {
				float: none;
				display: inline-block;
				height: 45px; //same as line-height
				line-height: 45px; //same as height
				margin-right: auto;
				padding-right: 25px;
				vertical-align: middle;
				font-size: 0.9em;
				font-weight: 200;
				color: white;
				&:last-child {
					padding-right: 0;
				}
				&:hover,&:focus {
					color: darken(white,20%);
					text-decoration: none;
				}
			}
	
		}
	}//.links
	
	.push-up {
		transform: translateY(0px);
		transition: transform 0.3s;
	}
	
}//.top-bar
//homepage only before scroll
body.home .site-header {background: transparent;border-bottom:none;}
//homepage only after scroll
body.home .site-header.fixed {background: rgba($maroon, 0.85);border-bottom: 2px solid rgba($lightgray,0.05);}
.site-header {
	position: absolute;
	top: 45px; //height of .top-bar
	width: 100%;
	padding: 0 20px;
	height: 237px;
	background: rgba($black, 0.8); //overlay
	border-bottom: 2px solid rgba($lightgray,0.05);
	z-index: 9;
	transform: translateY(0px);
	transition: transform 0.3s;

	.site-branding {
		float: left;
		width: auto;
	}
	
}
.site-logo {
	-webkit-transform: scale(1) translateY(20px);
    -ms-transform: scale(1) translateY(20px);
    transform: scale(1) translateY(20px);
	-webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
}
.site-header.fixed {
	position: fixed;
	top: 20px;
	height: 85px;
	padding: 2px;
	background: rgba($maroon, 0.85);
	z-index: 2000;
	transform: translateY(-20px);
	transition: transform 0.3s;
}
.site-header.fixed .site-logo {
	 -webkit-transform: scale(0.5) translateY(-55px);
    -ms-transform: scale(0.5) translateY(-55px);
    transform: scale(0.5) translateY(-55px);
}
.site-header.fixed .main-navigation ul {
	margin-top: 0;
	li a {
		font-size: 1.1em;
		color: white;
	}
}
.head-overflow {
	overflow: visible;
}
@import "search";


/*--------------------------------------------------------------
Menus
--------------------------------------------------------------*/
/* main nav */
.main-navigation {
	clear: both;
	display: block;
	float: left;
	width: 100%;
	font-family: $font-heading;
	
	ul {
		list-style: none;
		margin-top: 70px;
		padding-left: 0;
	}
	
	li {
		float: left;
		position: relative;
		
		a {
			display: block;
			text-decoration: none;
			padding: 5px 25px;
			color: white;
			font-weight: 300;
			font-size: 1.3em;
			transition: all 0.4s ease-in-out;
			-moz-transition: all 0.4s ease-in-out;
			-webkit-transition: all 0.4s ease-in-out;
			-ms-transition: all 0.4s ease-in-out;
			&:hover,&:focus {
				color: $maroon;
			}
			&:visted {
				color: white;
			}
	
		}	
	}
		
}//.main-navigation

.main-navigation ul ul {
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
	border-radius: 4px;
	border: 1px solid #dadada;
	background: white;
	color: #8c9398;
	float: right;
	position: absolute;
	top: 3.5em;
	right: -999em;
	z-index: 99999;
	
	a {
		width: 200px;
		color: #8c9398;
		font-weight: 600;
		padding: 8px 12px;
		font-size: 13px;
		text-align: center;
		border-bottom: 1px solid #dadada;
		-webkit-transition: 0.2s ease-in-out;
		-moz-transition: 0.2s ease-in-out;
		-o-transition: 0.2s ease-in-out;
		transition: 0.2s ease-in-out;
		&:hover {
			background: #f1f1f1;
			-webkit-transition: 0.2s ease-in-out;
			-moz-transition: 0.2s ease-in-out;
			-o-transition: 0.2s ease-in-out;
			transition: 0.2s ease-in-out;
		}	
	}
	
	
	ul {
		right: -999em;
		top: 0;
	}
}

.main-navigation ul li:hover > ul {
	right: 50%;
	margin-right: -30%;
}
.main-navigation ul ul li:hover > ul {
	right: 100%;
}


/* Small menu */
.menu-toggle {
	display: none;
}

/* offcanvas slideout mobile menu */
@import "offcanvas-menu";


.site-main .comment-navigation,
.site-main .paging-navigation,
.site-main .post-navigation {
	margin: 0 0 1.5em;
	overflow: hidden;
}
.nav-links a {
	color: white;
}

/*--------------------------------------------------------------
Content
--------------------------------------------------------------*/
/* color classes */
.bg-maroon {background: $maroon;color: white; }
.maroon {color: $maroon; }
.bg-lightgreen {background: $lightgreen;color: white; }
.lightgreen {color: $lightgreen; }
.bg-darkgreen {background: $smoke;color: white; }
.darkgreen {color: $smoke; }
.bg-white { background: white; }
.white {color: white; }
.bg-black { background: $black; }
.black { color: $black; }
.bg-gray { background: $gray; }
.gray { color: $gray; }


/* layout positioning */
#container {
    display: table;
    position: relative;
    height: 100%;
    min-height: 500px;
    max-width: 100%;
    /*max-width: 80% */ //to add contain
    margin: 0 auto;
    text-align: center;
}
.full {
	position: relative;
	max-width: 100%;
	width: 100%;
	margin: 0;
}
.text-center {
	text-align: center;
}
.underline {
	text-decoration: underline;
}
.small {
	font-size: 0.8em;
}


/*--------------------------------------------------------------
Page Templates
--------------------------------------------------------------*/
/*--------------------------------------------------------------
Homepage
--------------------------------------------------------------*/
.hero {
	position: relative;
	background-color: $lightgray;
	/* bg set inside of homepage via custom field and added as inline style for css control */
	//background: url('img/header-placeholder.png') center center no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    min-height: 62vh;
    border-bottom: 2px solid $lightgray;
    
    .img {
         position: absolute;
         width: 100%;
         height: 100%;
         z-index: 1;    
	}
    
    &:before {
    	content: '';
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.75) 0%,rgba(0, 0, 0, 0) 100%);
		opacity: 0.5; //lesser opacity = lesser gradient overlay
		z-index: 2;
    }
    
    h1,h2,h3,h4,h5,h6,
    p {
    	position: relative;
    	color: white;
	    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
	    z-index: 4; //on top of gradient
    }
    
    h1,h2,h3,h4,h5,h6 {
		margin-top: 390px;
    }
    

  
}//.hero


.intro { //used inside all sections
	background: transparent;
    max-width: 88%;
	margin: 0 auto;
	padding: 40px 0;
	font-size: 1.2em;
	line-height: 1.5em;	
} 

//section.about
.about { 
	width: 100%;
    max-width: 100%;
    margin: 0 auto;
    padding: 0;
    background: $smoke;    
    .intro {
	    background: transparent;
		text-align: left;
		margin-bottom: 0;
		padding-bottom: 0;
	}
	
	.section-title {
		color: $black;
		line-height: 1.2em;
		padding: 0 0 15px;
		margin: 0;
	}
	
	.program-titles {
		margin-top: 35px;
	}
	
	a {
		&:hover, &:focus {
			text-decoration: none;
		}
	}
	
	p {
		color: $black;
	}
	
	i {
		width: 100px;
        height: 100px;
        margin-bottom: 20px;
        background: white;
        font-size: 2.5em;
        border: 1px solid $lightgray;
		border-radius: 50%;
		-webkit-border-radius: 50%;
		-moz-border-radius: 50%;
		-ms-border-radius: 50%;
		&:before {
			position: absolute;
			margin-left: 27px;
			margin-top: 26px;
			color: $maroon;
		}
	}
	
	.latest-news {
		min-height: 875px;
		margin: -100px 0 0 0;
		padding: 40px 54px 72px;
		background: white;
		border: 1px solid $lightgray;
		border-bottom: none;
		text-align: center;
		z-index: 100;
		
		&:before { //border above
		    -webkit-box-sizing: content-box;
		    -moz-box-sizing: content-box;
		    box-sizing: content-box;
		    background-color: $maroon;
		    content: "";
		    position: absolute;
		    top: -1px;
		    left: -1px;
		    width: 100%;
		    height: 4px;
		    padding: 0 1px;
		}
		
		a {
			&:hover {
				text-decoration: underline;
			}
		}
		
		.latest-title {
			margin: 0;
			padding: 0 0 22px;
			font-weight: 400;
			border-bottom: 1px solid $lightgray;
		}
		
		.news-title {
			margin-bottom: 0;
			color: $maroon;
		}
		
		.descrip {
			 margin: 22px 0 0;
			 padding: 0 0 22px;
			 border-bottom: 1px solid $lightgray;
			 &:last-of-type {
				 border-bottom: none;
			 }
		}
		span.cat-title {
			/*&:after {
				content: '\f111';
				position: absolute;
				font-family: fontAwesome;
				font-size: 0.5em;
				padding-right: 15px;
				color: $gray;
				
			}*/
		}
		p.date {
			font-weight: 600;
			color: $gray;
		}
		
		.view {
			color: $maroon;
			font-weight: 200;
			font-size: 0.75em;
			padding: 0;
			margin: 15px 0;
			font-style: italic;
			&:after {
		    	content: '\f101';
				position: absolute;
				padding-top: 2px;
				padding-left: 5px;
				font-family: fontAwesome;
				font-size: 1em;
				color: #555;
			}
		}		
		.more {
			display: block;
			font-size: 1em;
			margin: 0;
			padding-top: 20px;
			padding-bottom: 0;
		}
	}
	
}//.about

body.home .latest-news p {
	font-size: 0.8em;
}

//section.history
.history { 
    background: $lightgray;
	width: 100%;
    max-width: 100%;
    margin: 0 auto;
    padding: 40px;
    text-align: left;
    border-top: 8px solid $gray;
    
    .intro {
	    background: transparent;
	}
	
	.section-title {
		color: $black;
		text-align: left;
		line-height: 1.2em;
		margin: 0;
		padding: 0 0 12px 0;
	}
	h1,h2,h3,h4, h5, p, a {
		color: $black;
	}
	.visit {
		margin: 35px 0;
		
		p {
			text-transform: uppercase;
			font-weight: 700;
		}
		a {
			color: $maroon;
			font-weight: 200;
			font-style: italic;
			&:after {
				content: '\f101';
				position: absolute;
				padding-top: 2px;
				padding-left: 10px;
				font-family: fontAwesome;
				font-size: 1em;
				color: $gray;
			}
		}
	}
	.quotes {
		padding-left: 40px;
		min-height: 200px;
	}
	.breakout {
		font-weight: 600;
		color: $gray;
		/*padding-left: 15px;*/
		
		/*&:before {
			content: '\f00c'; //http://fontawesome.io/icon/check/
			position: relative;
			left: -15px;
			font-family: fontAwesome;
			font-size: 1em;
		}*/
	}
	
}//.history

//section.memories
.memories { 
	width: 100%;
    max-width: 100%;
    margin: 0 auto;
    padding: 0;
    background: $gray;
    text-align: center;
    border-bottom: 8px solid $lightgray;
    
    .intro {
    	max-width: 100%; //make full
    	padding: 0;
		margin: 0;
	    background: transparent;
	    color: white;
	}
	
	.section-title {
		padding-bottom: 0;
	}
	.section-title.alumni {
		padding-bottom: 30px;
	}
	
	p {
		color: white;
		padding: 5px;
		margin-bottom: 100px;
	}
	
	
	
}//.memories


//section.memories
.memories-images { 
	width: 100%;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 0 60px 0;
    background: $smoke;
    color: $black;
    
    .intro {
	    background: transparent;
		text-align: center;
		max-width: 61%;
	}
	
	.images {
		margin: -100px auto 60px auto;
		
		img {
			margin: 0 -7px;
		}
	}
//alumni template
.alumni-images {
	
	.intro {
		max-width: 88%;
	}
}	
	
	
}//.memories-images





// call to actions, call outs
.home-cta {
	padding: 30px 0 32px 0;
	background: $maroon;
	color: white;
	text-align: center;
}
.footer-cta {
	padding: 30px 0 32px 0;
	background: $maroon;
	color: white;
	text-align: center;

}
.home-cta,
.footer-cta {
	
	h1, h2, h3, h4, h5 {
		color: white;
	}
	
}
/*--------------------------------------------------------------
Interior / About page template
--------------------------------------------------------------*/
//section.history
.page-about {
	section.history {
		background: $lightgray;
		width: 100%;
	    max-width: 100%;
		margin: 0 auto;
		padding: 40px;
		text-align: left;
		border-top: none; 
	}	
	
	.program-titles {
		
		p, a {
			font-size: 0.85em;
		}
	}
	
	section.about {
		
		.section-title {
			padding: 5px 15px;
		}
	}
	
	section.memories {
		
		//background: url('img/g-map.png') top center no-repeat;
		//background: url('img/brickwall.png');
		background: $gray;
		
		.intro {
			background: rgba($black, 0.4); //overlay on google map static image
		}
		
		.section-title {
			color: white;
		}
	}
	
	section.memories-images {
		text-align: left;
		ul {
			list-style: none;
			li {
				text-align: left;
				&:before {
					content: '\f00c';
					font-family: fontAwesome;
					padding-right: 15px;
					color: $maroon;
				}
			}
		}
	}
	
.team {
	h6 {
		margin-bottom: 0;
		padding-top: 20px;
		color: $maroon;
		font-weight: 600;
	}
	p.title {
		line-height: 1.2em;
		padding-bottom: 7px
	}
	p.view {
		color: $maroon;
		font-weight: 200;
		font-size: 0.75em;
		padding: 0;
		margin: 0;
		font-style: italic;
		border-top: 1px solid $lightgray;
		&:after {
			content: '\f101';
			position: absolute;
			padding-top: 2px;
			padding-left: 5px;
			font-family: fontAwesome;
			font-size: 1em;
			color: #555;
		}
		&:hover {
			text-decoration: underline;
		}
	}
}//.team

}//.page-about

/*--------------------------------------------------------------
Interior Page Defaults
--------------------------------------------------------------*/
/* interior page header */
.entry-header {
	position: relative;
	background: url('img/hero_placeholder.jpg') 50% center no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    min-height: 282px;
    border-bottom: 8px solid $gray;
}

.entry-content {
	background: transparent;
	margin-top: 0;
	padding: 20px;
	color: $black;

	.page-title {
		color: $black;
	}
	
	p {
		padding: 10px 0;
		color: $black;
	}
	p a,
	a {
		text-decoration: underline;
	}
}
.hentry {
	margin: 0;
}
#primary {padding: 0;}
.site-content {
	background: $smoke;
}
/*--------------------------------------------------------------
Default Sidebar
--------------------------------------------------------------*/
.sidebar {
	width: 100%;
	margin: 0;
	
	.widget-title {
		margin: 0;
		padding: 0 0 22px;
		font-weight: 400;
		border-bottom: 1px solid $lightgray;
		font-size: 26px;
		line-height: 28px;
	}
	
	.text-widget {
		margin: 22px 0 0;
		padding: 0 0 22px;
		border-bottom: 1px solid $lightgray;
	}
	
	li {
		color: $maroon;
		font-weight: 200;
		font-style: italic;
		list-style: none;
	}
	
	li a {
		color: $maroon;
		font-weight: 200;
		font-style: italic;
		&:after {
		    content: '\f101';
		    position: absolute;
		    padding-top: 2px;
		    padding-left: 10px;
		    font-family: fontAwesome;
		    font-size: 1em;
		    color: #555;
		}
	}
	
}
aside {
	li.cat-item {
	    a {
	    	display: block;
	        width: 100%;
	        padding: 1px 30px;
	        font-size: 1em;
	        text-align: left;
	        text-decoration: none;
		    color: $maroon;
	    }
		&:hover {
			color: darken($maroon,7%);
		}
    }
}
	
/*--------------------------------------------------------------
Interior Page Template: Faculty & Alumni single
--------------------------------------------------------------*/
.faculty,
.alumni {
	.position {
		color: $maroon;
		font-style: italic;
	}
}
.alumni {
	h6 {
		margin-bottom: 0;
		padding-top: 20px;
		color: $maroon;
		font-weight: 600;
	}
}

img.faculty,
img.alumni {
	border: 2px solid $lightgray;
    padding: 2px;
    background: white;
}
.latest-news {
	a li, li a {
		display: block;
		margin: 10px 0 0;
		padding: 0 0 10px;
		color: $maroon;
		font-weight: 200;
		font-style: italic;
		list-style: none;
		    border-bottom: 1px solid #E0E0E0;
		&:after {
		    content: '\f101';
		    position: absolute;
		    padding-top: 2px;
		    padding-left: 10px;
		    font-family: fontAwesome;
		    font-size: 1em;
		    color: #555;
		}
	}
}
.class-single {
	h5 {
		margin: 25px 0 20px;
	    padding: 15px 0 15px;
		font-weight: 600;
		text-transform: uppercase;
	    border-top: 2px solid $lightgray;
	    border-bottom: 2px solid $lightgray;
	}
	.date {
		 &:before {
		 	content: '\f073';
			font-family: fontAwesome;
			font-size: 0.85em;
			vertical-align: middle;
			top: -3px;
			padding-right: 5px;
			position: relative;
			color: $maroon;
		 }
	}
	.cost {
		 &:before {
		 	content: '\f155';
			font-family: fontAwesome;
			font-size: 0.85em;
			vertical-align: middle;
			top: -3px;
			padding-right: 5px;
			position: relative;
			color: $maroon;
		 }
	}
	.program {
		 &:before {
		 	content: '\f044';
			font-family: fontAwesome;
			font-size: 0.85em;
			vertical-align: middle;
			top: -3px;
			padding-right: 5px;
			position: relative;
			color: $maroon;
		 }
	}
}
/*--------------------------------------------------------------
Interior Page Template: Classes / Class Search
--------------------------------------------------------------*/
/*class search sidebar*/
.classes-sidebar {
	margin-top: 70px;
	min-height: 900px;
	padding: 30px 15px;
	color: $black;
    background: white;
    border: 8px solid $gray;
    text-align: left;
    z-index: 100;
    
    .page-title {
	    color: $maroon;
    }

	.widget-title {
		padding: 10px 12px;
		margin: 15px 0 0 -15px;
		font-size: 1.3em;
		width: 112%;
		background: $gray;
		color: white;
	}
	
	li, li a {
		font-weight: 200;
		font-size: 1em;
		margin: 10px 0 0;
	    padding: 0 0 10px;
		border-bottom: 2px solid $lightgray;
		&:last-of-type {
			border-bottom: none;
		}
	}
	.current_page_item {
		font-weight: 600;
	}
	
	p.info {
		font-size: 0.85em;
		margin-bottom: 2px;
	}
	
	select,input[type="text"], input[type="email"], input[type="url"], input[type="password"], input[type="search"] {
    	margin: 10px 15px 0px 15px;
    	width: 92%;
	}	
}
.class-list {
	
	a {
		text-decoration: none;
		&:hover, &:focus {
			text-decoration: none;
		}
	}
	.thumbnail.default {
		width: 100%;
		height: 200px;
		padding: 5px;
		background: white;
		border: 1px solid rgba($lightgray, 0.5);
		
		i.fa {
		
		&:before {
			position: absolute;
			margin-top: 35px;
		    margin-left: -25px;
			font-size: 5em;
			text-align: center;
			width: 100%;
			color: darken($smoke,10%);
		}
	  }
	}
	.class-title {
		color: $maroon;
		padding-bottom: 0;
		margin-bottom: 0;
	}
	.date {
		font-weight: 600;
	}
	.date,p {
		padding: 2.5px 0;
	}
}//.class-list

.results-total {
	h3 {
		margin: 50px 20px;
		padding-bottom: 5px;
	}
	span {
		text-transform: uppercase;
	}
	form {
		margin-top: -70px;
		padding: 8px;
	}
}

//classes view more button custom excerpt
.view a {
	color: $maroon;
	font-weight: 200;
	padding: 0;
	margin: 2px 0;
	font-style: italic;
	&:after {
		content: '\f101';
		position: absolute;
		padding-top: 2px;
		padding-left: 5px;
		font-family: fontAwesome;
		font-size: 1em;
		color: #555;
	}
	&:hover {
		text-decoration: underline;
		color: darken($maroon,7%);
	}

}	

/* sidebar filtering */
@import "filter";

/* the loading icon */
.umloading {
	width: 25%;
	height: 44px;
	margin-top: 44px;
	background: url('img/ajax_loader.gif') no-repeat 50% 50%;
}
/* the find classes form id */
#uwpqsf_id {
	margin-top: 5px;
	border: none;
}
/* main labels... */
.uwpqsf_class > span[class*='taxolabel-'], .uwpqsf_class > span[class*='cmflabel-'] {
	padding: 0;
}
.uwpqsf_class>span[class*='cmflabel-'] {
    padding: 0;
    margin: 30px 0 0px;
    padding-bottom: 0;
}
.uwpqsf_class>span[class*='taxolabel-'], .uwpqsf_class>span[class*='cmflabel-'] {
	padding: 10px 12px;
    margin: 15px 0 0 -15px;
    font-size: 1.1em;
    font-weight: 200!important;
    width: 112%;
    background: $gray;
    color: white;
}
/* the choices... */
.uwpqsf_class > label {
	font-weight: 200;
	font-size: 0.95em;
	margin: 10px 0 0;
    padding: 0 0 10px;
	border-bottom: 2px solid $lightgray;
	&:last-of-type {
		border-bottom: none;
	}
}
/* the search form, if needed */
input#uwpqsf_id_key {
	background: white;
	margin-bottom: 5px;
	border: 2px solid $lightgray;
}
/* the submit btn */
.uwpqsf_submit {
    text-align: right;
    margin-bottom: 15px;
    width: 98%;
    display: block;
}

/*--------------------------------------------------------------
Footer
--------------------------------------------------------------*/
.footer-block {
	width: 100%;
	background: white;
	padding: 50px 15px 30px;
	font-weight: 400;
}
.footer-contact {
	padding: 50px 0 80px;
	text-align: center;
	background: $maroon;
	color: white;
	
	p, a {
		color: white;
	}
	
	img {
		margin-bottom: 60px;
	}
	 .button {
		margin: 20px auto;
	}

	
}


.site-footer {
	font-weight: 400;
	background: $gray;
	border-top: 2px solid rgba($lightgray,0.02);
	padding: 20px 0 40px;
	color: white;
	text-align: center;
	
	em {
		padding-right: 15px;
	}
	
	a {
		color: white;
		text-decoration: none;
		&:hover {
			color: darken(white,20%);
		}
		&:after {
			content: '/';
			color: $smoke;
			padding: 0 10px 0 12px
		}
		&:last-of-type {
			&:after {
				content: '';
			}
		}
	}
		
}//.site-footer
.no-padding {padding:0!important;}

/*--------------------------------------------------------------
Animations
--------------------------------------------------------------*/
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

/* durations */
.animate {
  	-webkit-animation-duration: 0.50s;
  	animation-duration: 0.50s;
}
