/*--------------------------------------------------------------
Typography
--------------------------------------------------------------*/
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $font-heading;
}
h1 { font-size: 42px; line-height: 40px; }
h2 { font-size: 38px; line-height: 36px; }
h3 { font-size: 30px; line-height: 32px; }
h4 { font-size: 26px; line-height: 28px; }
h5 { font-size: 20px; line-height: 24px; }
h6 { font-size: 16px; line-height: 20px; }
p {
	font-size: 16px;
	color: #242121;
}

/*--------------------------------------------------------------
Elements
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
	color: $black;
	font-weight: 300;
	font-family: $font-body;
	font-size: 15px;
	line-height: 1.8;
}
textarea { height: 200px; }
a {
	color: $black;
	-webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}

a:hover,
a:focus,
a:active {
	color: darken($black,7%);
}

/*--------------------------------------------------------------
Buttons, Inputs, Forms
--------------------------------------------------------------*/
button,
input,
select,
textarea {
	font-size: 100%; /* Corrects font size not being inherited in all browsers */
	margin: 0; /* Addresses margins set differently in IE6/7, F3/4, S5, Chrome */
	vertical-align: baseline; /* Improves appearance and consistency in all browsers */
	line-height: 38px;
    font-size: 1em;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 2px solid;
	border-color: $gray;
	border-radius: 0;
	background: white;
	box-shadow: none;
	color: $gray;
	cursor: pointer;
	-webkit-appearance: button; 
	font-size: 1.2em;
	line-height: 1;
	font-weight: inherit;
	padding: 1em;
	text-shadow: none;
	text-transform: uppercase;
	
	&:hover, &:focus, &:active {
		border-color: darken($gray,20%);
		color: darken($gray,20%);
	}
	
}

input[type="text"], input[type="email"], input[type="url"], input[type="password"], input[type="number"], input[type="search"], textarea {
	background: #f4f4f4;
	&:focus {
		background: white;
		border-color: darken($gray,20%);
	}
}
input[type="checkbox"],
input[type="radio"] {
	padding: 0; 
}
input[type="search"] {
	-webkit-appearance: textfield; 
	-webkit-box-sizing: content-box; 
	-moz-box-sizing:    content-box;
	box-sizing:         content-box;
}
input[type="search"]::-webkit-search-decoration { 
	-webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner { 
	border: 0;
	padding: 0;
}
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="number"],
input[type="search"],
textarea {
	width: 100%;
	color: #666;
	border: 1px solid #ccc;
	border-radius: 0;
	
	&:focus {
		color: $black;
	}
}
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"] {
	width: 100%;
	padding: 3px;
}
//contact & donate forms
.contact,
.donate {
	input[type="submit"] {
		width: 100%;
		margin-top: 5px;
	}
	
	p {
		margin: 2px 0;
	}
}

.wpcf7-submit {
	input[type="submit"] {
		width: 100%;
		margin-top: 5px;
	}
}


textarea {
	width: 100%;
	overflow: auto; 
	padding-left: 3px;
	vertical-align: top; 
}

/* buttons */
.button {
	position: relative;
    z-index: 9999999;
    display: inline-block;
    margin: 20px 0;
    width: 220px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    font-size: 1.1em;
    font-weight: normal;
    font-style: normal;
    color: white;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    text-transform: uppercase;
    text-decoration: none;
}
/*primary, blue bg, white text, no border*/
.button.primary,
.button.blue {
	background: $maroon;
	color: white;
	border: none;
	&:hover {
		background: darken($maroon,7%);
		color: darken(white,7%);
		border: none;
		text-decoration: none;
	}
}
/*green, darkgreen bg, white text, no border*/
.button.green {
	background: $smoke;
	color: $maroon;
	border: none;
	&:hover {
		background: darken($smoke,7%);
		color: darken($maroon,7%);
		border: none;
		text-decoration: none;
	}
}
/*lightgreen, lightgreen bg, blue text, no border*/
.button.lightgreen {
	background: $lightgreen;
	color: $maroon;
	border: none;
	&:hover {
		background: darken($lightgreen,7%);
		color: darken($maroon,7%);
		border: none;
		text-decoration: none;
	}
}
/*transparent, transparent bg, blue text, blue border*/
.button.transparent {
	background: transparent;
	color: $maroon;
	border: 2px solid $maroon;
	&:hover {
		color: darken($maroon,7%);
		border: 2px solid darken($maroon,7%);
		text-decoration: none;
	}
}
/*white, white bg, blue text, no border*/
.button.white {
	background: white;
	color: $maroon;
	border: none;
	&:hover {
		background: darken($maroon,7%);
		color: darken($maroon,7%);
		text-decoration: none;
	}
}

.button.full {
	margin: 15px 0;
	
	&:first-of-type {
		margin-top: 0;
	}
}

/*--------------------------------------------------------------
Top-Bar, Header, & Navigation
--------------------------------------------------------------*/
/* top bar nav */
.top-bar {
	position: absolute;
	display: block;
	width: 100%;
	height: 45px;
	top: 0;
	left: 0;
	padding: 0 25px;
	background: $maroon; 
	z-index: 4;
	text-transform: uppercase;
	
	.links {
		width: auto;
		float: right;
		margin-right: 25px;
		
		ul {
			list-style: none;
		
			li, li a, li a:visited {
				float: none;
				display: inline-block;
				height: 45px; //same as line-height
				line-height: 45px; //same as height
				margin-right: auto;
				padding-right: 25px;
				vertical-align: middle;
				font-size: 0.9em;
				font-weight: 200;
				color: white;
				&:last-child {
					padding-right: 0;
				}
				&:hover,&:focus {
					color: darken(white,20%);
					text-decoration: none;
				}
			}
	
		}
	}//.links
	
	.push-up {
		transform: translateY(0px);
		transition: transform 0.3s;
	}
	
}//.top-bar
//homepage only before scroll
body.home .site-header {background: transparent;border-bottom:none;}
//homepage only after scroll
body.home .site-header.fixed {background: rgba($maroon, 0.85);border-bottom: 2px solid $lightgray;}
.site-header {
	position: absolute;
	top: 45px; //height of .top-bar
	width: 100%;
	padding: 0 20px;
	height: 177px;
	background: rgba($black, 0.5);
	border-bottom: 2px solid $lightgray;
	z-index: 9;
	transform: translateY(0px);
	transition: transform 0.3s;

	.site-branding {
		float: left;
		width: auto;
	}
	
}
.site-logo {
	-webkit-transform: scale(1) translateY(20px);
    -ms-transform: scale(1) translateY(20px);
    transform: scale(1) translateY(20px);
	-webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
}
.site-header.fixed {
	position: fixed;
	top: 20px;
	height: 85px;
	padding: 2px;
	background: rgba($maroon, 0.85);
	z-index: 2000;
	transform: translateY(-20px);
	transition: transform 0.3s;
}
.site-header.fixed .site-logo {
	 -webkit-transform: scale(0.5) translateY(-55px);
    -ms-transform: scale(0.5) translateY(-55px);
    transform: scale(0.5) translateY(-55px);
}
.site-header.fixed .main-navigation ul {
	margin-top: 0;
	li a {
		font-size: 1.1em;
	}
}
.head-overflow {
	overflow: visible;
}

/*--------------------------------------------------------------
Menus
--------------------------------------------------------------*/


/* main nav */
.main-navigation {
	clear: both;
	display: block;
	float: left;
	width: 100%;
	font-family: $font-heading;
	
	ul {
		list-style: none;
		margin-top: 70px;
		padding-left: 0;
	}
	
	li {
		float: left;
		position: relative;
		
		a {
			display: block;
			text-decoration: none;
			padding: 5px 25px;
			color: white;
			font-weight: 300;
			font-size: 1.3em;
			transition: all 0.4s ease-in-out;
			-moz-transition: all 0.4s ease-in-out;
			-webkit-transition: all 0.4s ease-in-out;
			-ms-transition: all 0.4s ease-in-out;
			&:hover,&:focus {
				color: $maroon;
			}
	
		}	
	}
		
}//.main-navigation
.main-navigation ul ul {
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
	border-radius: 4px;
	border: 1px solid #dadada;
	background: white;
	color: #8c9398;
	float: right;
	position: absolute;
	top: 3.5em;
	right: -999em;
	z-index: 99999;
	
	a {
		width: 200px;
		color: #8c9398;
		font-weight: 600;
		padding: 8px 12px;
		font-size: 13px;
		text-align: center;
		border-bottom: 1px solid #dadada;
		-webkit-transition: 0.2s ease-in-out;
		-moz-transition: 0.2s ease-in-out;
		-o-transition: 0.2s ease-in-out;
		transition: 0.2s ease-in-out;
		&:hover {
			background: #f1f1f1;
			-webkit-transition: 0.2s ease-in-out;
			-moz-transition: 0.2s ease-in-out;
			-o-transition: 0.2s ease-in-out;
			transition: 0.2s ease-in-out;
		}	
	}
	
	
	ul {
		right: -999em;
		top: 0;
	}
}

.main-navigation ul li:hover > ul {
	right: 50%;
	margin-right: -30%;
}
.main-navigation ul ul li:hover > ul {
	right: 100%;
}


/* Small menu */
.menu-toggle {
	display: none;
}

/* offcanvas slideout mobile menu */
@import "offcanvas-menu";


.site-main .comment-navigation,
.site-main .paging-navigation,
.site-main .post-navigation {
	margin: 0 0 1.5em;
	overflow: hidden;
}
.nav-links a {
	color: white;
}


/*--------------------------------------------------------------
Content
--------------------------------------------------------------*/

/* color classes */
.bg-maroon {background: $maroon;color: white; }
.maroon {color: $maroon; }
.bg-lightgreen {background: $lightgreen;color: white; }
.lightgreen {color: $lightgreen; }
.bg-darkgreen {background: $smoke;color: white; }
.darkgreen {color: $smoke; }
.bg-white { background: white; }
.white {color: white; }
.bg-black { background: $black; }
.black { color: $black; }
.bg-gray { background: $gray; }
.gray { color: $gray; }


/* layout positioning */
#container {
    display: table;
    position: relative;
    height: 100%;
    min-height: 500px;
    max-width: 100%;
    /*max-width: 80% */ //to add contain
    margin: 0 auto;
    text-align: center;
}
.full {
	position: relative;
	max-width: 100%;
	width: 100%;
	margin: 0;
}
.text-center {
	text-align: center;
}


/*--------------------------------------------------------------
Page Templates
--------------------------------------------------------------*/
/*--------------------------------------------------------------
Homepage
--------------------------------------------------------------*/
.hero {
	position: relative;
	background-color: $lightgray;
	/* bg set inside of homepage via custom field and added as inline style for css control */
	//background: url('img/header-placeholder.png') center center no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    min-height: 62vh;
    border-bottom: 2px solid $lightgray;
    
    .img {
         position: absolute;
         width: 100%;
         height: 100%;
         z-index: 1;    
	}
    
    &:before {
    	content: '';
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.75) 0%,rgba(0, 0, 0, 0) 100%);
		opacity: 0.5; //lesser opacity = lesser gradient overlay
		z-index: 2;
    }
    
    h1,h2,h3,h4,h5,h6,
    p {
    	position: relative;
    	color: white;
	    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
	    z-index: 4; //on top of gradient
    }
    
    h1,h2,h3,h4,h5,h6 {
		margin-top: 390px;
    }
    

  
}//.hero


.intro { //used inside all sections
	background: transparent;
    max-width: 88%;
	margin: 0 auto;
	padding: 40px 0;
	font-size: 1.2em;
	line-height: 1.5em;	
} 

//section.about
.about { 
	width: 100%;
    max-width: 100%;
    margin: 0 auto;
    padding: 0;
    background: $smoke;    
    .intro {
	    background: transparent;
		text-align: left;
		margin-bottom: 0;
		padding-bottom: 0;
	}
	
	.section-title {
		color: $black;
		line-height: 1.2em;
	}
	
	p {
		color: $black;
	}
	
	i {
		width: 100px;
        height: 100px;
        margin-bottom: 20px;
        background: white;
        font-size: 2.5em;
        border: 1px solid $lightgray;
		border-radius: 50%;
		-webkit-border-radius: 50%;
		-moz-border-radius: 50%;
		-ms-border-radius: 50%;
		&:before {
			position: absolute;
			margin-left: 22px;
			margin-top: 20px;
			color: $maroon;
		}
	}
	
	.latest-news {
		min-height: 875px;
		margin: -100px 0 0 0;
		padding: 40px 54px 72px;
		background: white;
		border: 1px solid $lightgray;
		border-bottom: none;
		text-align: center;
		z-index: 100;
		
		&:before {
		    -webkit-box-sizing: content-box;
		    -moz-box-sizing: content-box;
		    box-sizing: content-box;
		    background-color: $maroon;
		    content: "";
		    position: absolute;
		    top: -1px;
		    left: -1px;
		    width: 100%;
		    height: 4px;
		    padding: 0 1px;
		}
	}
	
	
}//.about


//section.history
.history { 
    background: $lightgray;
	width: 100%;
    max-width: 100%;
    margin: 0 auto;
    padding: 0;
    text-align: left;
    border-top: 8px solid $maroon;
    
    .intro {
	    background: transparent;
	}
	
	.section-title {
		color: $black;
		text-align: left;
		line-height: 1.2em;
		padding: 5px 0 0 0;
	}
	h1,h2,h3,h4, h5, p, a {
		color: $black;
	}
	.visit {
		margin: 35px 0;
		
		p {
			text-transform: uppercase;
			font-weight: 700;
		}
		a {
			color: $maroon;
			font-weight: 200;
			font-style: italic;
			&:after {
				content: '\f101';
				position: absolute;
				padding-top: 2px;
				padding-left: 10px;
				font-family: fontAwesome;
				font-size: 1em;
				color: $gray;
			}
		}
	}
	.quotes {
		padding-left: 40px;
	}
	.breakout {
		font-weight: 600;
		color: $gray;
		/*padding-left: 15px;*/
		
		/*&:before {
			content: '\f00c'; //http://fontawesome.io/icon/check/
			position: relative;
			left: -15px;
			font-family: fontAwesome;
			font-size: 1em;
		}*/
	}
	
}//.history

//section.memories
.memories { 
	width: 100%;
    max-width: 100%;
    margin: 0 auto;
    padding: 0;
    background: $gray;
    text-align: center;
    border-bottom: 8px solid $lightgray;
    
    .intro {
    	max-width: 100%; //make full
    	padding: 0;
		margin: 0;
	    background: transparent;
	    color: white;
	}
	
	.section-title {
		padding-bottom: 0;
	}
	
	p {
		color: white;
		padding: 5px;
		margin-bottom: 100px;
	}
	
	
}//.memories


//section.memories
.memories-images { 
	width: 100%;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 0 60px 0;
    background: $smoke;
    color: $black;
    
    .intro {
	    background: transparent;
		text-align: center;
		max-width: 61%;
	}
	
	.images {
		margin: -100px auto 60px auto;
		
		img {
			margin: 0 -7px;
		}
	}
	
	
	
}//.memories-images





// call to actions, call outs
.home-cta {
	padding: 30px 0 32px 0;
	background: $maroon;
	color: white;
	text-align: center;
}
.footer-cta {
	padding: 30px 0 32px 0;
	background: $maroon;
	color: white;
	text-align: center;

}
.home-cta,
.footer-cta {
	
	h1, h2, h3, h4, h5 {
		color: white;
	}
	
}



/*--------------------------------------------------------------
Interior
--------------------------------------------------------------*/
/* interior page header */
/*.entry-header {
	position: relative;
	background-color: $maroon;
    width: 100%;
    height: 100%;
    min-height: 190px;
}*/

.entry-content {
	background: white;
	margin-top: 250px;
	padding: 60px 20px 40px;
	color: $black;

	.page-title {
		color: $black;
	}
	
	p {
		padding: 10px 0;
		color: $black;
	}
	p a,
	a {
		text-decoration: underline;
	}
}
.hentry {
	margin: 0;
}
#primary {padding: 0;}
/*--------------------------------------------------------------
Sidebar
--------------------------------------------------------------*/
/*sidebar*/
.sidebar {
	margin-top: 310px;
	min-height: 900px;
	color: $black;
	padding: 10px;
    background: white;
    border: 1px solid $lightgray;
    text-align: center;
    z-index: 100;
	
	.widget-title {
		padding: 10px 15px;
		background: $smoke;
		color: $black;
		font-size: 1.25em;
		text-transform: uppercase;
	}
	
	select,input[type="text"], input[type="email"], input[type="url"], input[type="password"], input[type="search"] {
    	margin: 10px 15px 0px 15px;
    	width: 92%;
	}	
}

aside {
	li.cat-item {
	    a {
	    	display: block;
	        width: 100%;
	        padding: 1px 30px;
	        font-size: 1em;
	        text-align: left;
	        text-decoration: none;
		    color: $maroon;
	    }
		&:hover {
			color: darken($maroon,7%);
		}
    }
}
	


/*--------------------------------------------------------------
Inteior page template - Classes, Class List
--------------------------------------------------------------*/
.class-list {
	.thumbnail.default {
		width: 100%;
		height: 200px;
		padding: 5px;
		background: $smoke;
		
		i {
			font-size: 5em;
			text-align: center;
			width: 100%;
			margin-top: 55px;
			color: darken($smoke,10%);
		}
	}
	.class-title {
		color: $maroon;
		padding-bottom: 0;
		margin-bottom: 0;
	}
	.date {
		font-weight: 600;
	}
	.date,p {
		padding: 2.5px 0;
	}
}//.class-list

/*--------------------------------------------------------------
Footer
--------------------------------------------------------------*/
.footer-block {
	width: 100%;
	background: white;
	padding: 50px 15px 30px;
	font-weight: 400;
}
.footer-contact {
	padding: 50px 0 80px;
	text-align: center;
	background: $maroon;
	color: white;
	
	p, a {
		color: white;
	}
	
	img {
		margin-bottom: 60px;
	}
	 .button {
		margin: 20px auto;
	}

	
}


.site-footer {
	font-weight: 400;
	background: $maroon;
	border-top: 1px solid lighten($maroon,2%);
	padding: 20px 0 40px;
	color: white;
	text-align: center;
	
	em {
		padding-right: 15px;
	}
	
	a {
		color: white;
		text-decoration: none;
		&:hover {
			color: darken(white,20%);
		}
		&:after {
			content: '/';
			color: $smoke;
			padding: 0 10px 0 12px
		}
		&:last-of-type {
			&:after {
				content: '';
			}
		}
	}
		
}//.site-footer
.no-padding {padding:0!important;}

/*--------------------------------------------------------------
Animations
--------------------------------------------------------------*/
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

/* durations */
.animate {
  	-webkit-animation-duration: 0.50s;
  	animation-duration: 0.50s;
}
