// Colors

$maroon: #480000;
$lightgreen: #73bd4a;
$gray: #555;
$lightgray: #ccc;
$smoke: #ededed;
$black: #333;
$twitter: #55acee;
$facebook: #405d9a;
$gplus: #dd4b39;

// Typography
$font-heading: 'Merriweather', serif, Arial;
$font-body: Verdana, Helvetica, Arial;

// Vendors
@import "vendor/reset";
@import "vendor/bootstrap.grid";
@import "vendor/font-awesome";

// Layout
@import "wp";
@import "layout";
@import "responsive";