// Colors
//brand colors
$maroon: #5D0101; //mjpaa red
$smoke: #f7f7f7;
$lightgray: #e0e0e0; //mostly for borders
$gray: #555;
$black: #1d1d1d;
//social media
$twitter: #55acee;
$facebook: #405d9a;
$gplus: #dd4b39;

// Typography
$font-heading: 'Merriweather', serif, Arial;
$font-body: Verdana, Helvetica, Arial;

// Vendors
@import "vendor/reset";
@import "vendor/bootstrap.grid";
@import "vendor/font-awesome";

// Layout
@import "wp";
@import "layout";
@import "responsive";